body {
  font-family: 'Menlo', monospace;
}

pre {
  margin: 0;
}
.float {
  float: left;
}

.hljs {
  font-family: 'Menlo', monospace;
  font-size: 13px;
}

.line-numbers {
  text-align: right;
  color: #acacac !important;
}

.stats {
  font-size: 11px;
  padding: 1em;
  color: #acacac !important;
}