<!doctype html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
  <h1>Code reader v1000.</h1>
  <%- body %>
  <script type="text/javascript" src="/app.js"></script>
</body>
</html>